{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>Lista de jogos</h1>
  {% if jogo_list %}
  <ul>
    {% for jogo in jogo_list %}
      <li>
        <div>
            {% if jogo.imagem %}
                <img src="{{jogo.imagem.url}}" style="max-height:300px">
            {% endif %}  
            <a href="{{ jogo.get_absolute_url}}">{{jogo.titulo}}</a>
            <h5>Desenvolvedora: {{jogo.desenvolvedora}}</h5>
            <p>Sinopse: {{jogo.sinopse}} </p>
            <h5>Lancamento: {{jogo.lancamento}}</h5>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Não há nenhum jogo para exibicão</p>
  {% endif %}
{% endblock %}
