{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista_jogos</title>
  <link rel="stylesheet" href="{% static 'css/jogo_list.css' %}">
</head>

<body>
  <div class="jogosLayout">
    <div class="bannerJogos">
      <h1>REVIEW DE JOGOS</h1>
    </div>
    {% if jogo_list %}
    <ul>
      {% for jogo in jogo_list %}
      <li class="jogoCubo">
        <a class="linkLayout" href="{{ jogo.get_absolute_url}}">
          <div class="jogoLayout">
            {% if jogo.imagem %}
            <h1 class="tituloJogo">{{jogo.titulo}}</h1>
            <img class="jogoCapa" src="{{jogo.imagem.url}}">
            {% endif %}
            <h5>{{jogo.desenvolvedora}}</h5>
            <p>Sinopse: {{jogo.sinopse}} </p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Não há nenhum jogo para exibicão</p>
    {% endif %}
    {% endblock %}
  </div>


</body>


</html>