@import url(style.css);

.home {
    box-shadow: 10px 10px black;
    background: var(--cor1);
    padding-bottom: 30px;
}

.tituloHome {
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;

    color: var(--cor4);
    text-shadow: 2px 2px black;
}

.textoHome {
    padding-bottom: 50px;
    text-align: justify;
}

.redesSociais {
    padding-top: 100px;
}

p {
    padding: 50px 50px 0px 50px;
    font-size: 30px;
}

.listaIcones {
    padding: 20px 20px 10px 20px;
}

.icons {
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 10px;
}
