@import url(style.css);

.bannerJogos  {
	background: var(--cor3);
	padding: 40px;
}

.bannerJogos h1 {
	font-size: 50px;
	font-weight: bold; 
	color: var(--cor4);
}

.linkLayout {
	padding: 30px;

	width: 500px;
	height: 500px;

	text-decoration: none;
	text-align: center;
	color: black;
}

.jogoCubo {
	margin: 20px;

	display: inline-block;
	flex-direction:column;

	max-width: 500px;
	height: 500px;

	background: var(--cor1);
	box-shadow: 10px 10px black;
}


.jogoLayout {
	text-align: center;
	padding: 10px;
}


.jogoCapa	 {
	max-width: 300px;
	max-height: 250px;
	margin-bottom: 10px;
	box-shadow: 7px 7px black;
}

.tituloJogo {
	padding: 0px 0px 10px 0px;

	font-weight: bold;
	font-size: 25px;
	color: var(--cor4);
	text-transform: uppercase;
}

h5 {
	font-weight: bold;
	color:var(--cor4);
}

p {
	text-align: justify;
	padding: 10px;
}

