:root {
    --cor1: #9674be;
    --cor2: #9e4ce0;
    --cor3: #e98cc2;
    --cor4: #90c5e9;
    --cor5: #d6a9f8;
    --cor6: #c2c6ca;
}

body {
	background-image: url('patternFuturistic.jpg');
	text-align: center;
	padding: 80px 0px 30px 0;
}

.baseConteudo {
	display: inline-block;
	text-align: center;
	max-width: 1200px;
	background:var(--cor3);
	box-shadow: 10px 10px black;
    padding: 30px 30px 50px 30px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;

    height: 50px;
    background: var(--cor4);
    box-shadow: 0px 0px black;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    padding: 15px 15px 0 15px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px black;
}

.navbar a:hover {
    font-weight: bold;
    color: var(--cor2);
    text-shadow: 0px 0px black; 
}

.sidebar-nav {
    display: block;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.paginasLink{
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    padding: 50px 0px 50px 0;
    background: var(--cor3);
    width: 600px;

    box-shadow: 10px 10px black;

    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.paginasLink a {
    text-decoration: none;
    color: var(--cor1);
    padding: 0px 5px 0px 5px;
    text-shadow: 1px 1px black;
}

.paginasLink a:hover {
    color: var(--cor2);
    font-size: 110%;
}