<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block title %}<title>Review Games</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav>
  <div>
    {% block sidebar %}
    <ul class="navbar">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'jogos' %}">Jogos</a></li>
    </ul>
    {% endblock %}
  </div>
</nav>

<div>{% block content %}{% endblock %}</div>


{% block pagination %}
{% if is_paginated %}
<div class="paginacao">
  <span class="paginasLink">
    {% if page_obj.has_previous %}
    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    <span class="page-current">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próximo</a>
    {% endif %}
  </span>
</div>
{% endif %}
{% endblock %}

</html>